
@import url('href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.text-style {
    font-weight: bold;
}

.my-btn-style {
    border-color: white;
    color: white;
    background-color: #f3bd2a;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F0B71C !important;
    border-color: white !important;
}

.container-bg {
    background-color: #E8A114;
    color: white;
}



.block-hero {
    padding: 5rem 0px;
}


.logo-style {
    font-weight: bold;
}